<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">M & J</a>
        <button title="Menu de navegação" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Início
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="information">
                <span class="bi bi-info-circle-fill-nav-menu" aria-hidden="true"></span> Informações
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rsvp">
                <span class="bi bi-envelope-fill-nav-menu" aria-hidden="true"></span> RSVP
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
